body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

nav {
    font-family: 'Fraunces', serif;
}

.hero {
    background-image: url(../IMG/pexels-sides-imagery-3141243.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
}

.decks, .trucks, .bearings, .wheels {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #fff;
}

i:hover {
    color: blue;
}

input::placeholder, textarea::placeholder {
    text-align: center;
}