

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

nav {
    font-family: 'Fraunces', serif;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    transition: ease-out .5s;
}

nav a:not(:hover) {
    transform: scale(1);
    transition: ease-in .5s;
}

.hero {
    background-image: url(../IMG/pexels-sides-imagery-3141243.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
}

.decks, .trucks, .bearings, .wheels, .build, .shoes {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #fff;
}

i:hover {
    color: black;
    transform: scale(1.5);
    transition: ease-out .5s;
}

i:not(:hover) {
    transform: scale(1);
    transition: ease-in .5s;
}

input::placeholder, textarea::placeholder {
    text-align: center;
}

h2 {
    font-size: 50px;
}